version: '3.3'

services:
  olb:
    restart    : always
    build      : https://github.com/OpenAF/openaf-dockers.git#:openaf.io/oLB
    ports      :
      - "8787:8787"
    networks   :
      - rojob
    volumes    :
      - "/var/run/docker.sock:/var/run/docker.sock:ro"
    environment:
      BACKEND_PORT: 8787
      FILTER_PATH : Names
      FILTER_VALUE: /rojob_rojob
      PORT        : 8787

  rojob:
    restart       : always
    build         : https://github.com/OpenAF/roJob.git
    volumes       :
      - "/roJob/work:/work:rw"
    ports         :
      - 8787
    networks      :
      - rojob
    environment   :
      FALLBACKS: rojob:8787
      APIKEY   : "xxxxxxx"
      WORK     : /work
      CONTAINER: true

networks:
    rojob:
